*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.main{
    background-color: antiquewhite;
    padding: 20vh 5%;
    border-radius: 10px;
    border: 2px solid purple;
}

.main h1{
    margin-bottom: 7vh;
    color: purple;
}

#main-game{
    padding: 10vh 5%;
}

#main-game a{
    text-decoration: none;
    border: 2px solid purple;
    padding: 5px;
    border-radius: 10px;
    background-color: purple;
    color: #ffffff;
    display: none;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

#form p, #form input{
    margin-bottom: 2vh;
}

#form input, #form button{
    border: 2px solid purple;
    border-radius: 5px;
    line-height: 1.5;
    padding: 4px;
}

#form button{
    color: white;
    background-color: purple;
}

#form button:hover{
    color: white;
    background-color: rgb(88, 5, 88);
}

#game{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border: 2px solid purple;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

p#gamer-turn{
    font-size: 20px;
}

.game-card{
    background-color: white;
    border: 1px solid purple;
    font-size: 30px;
}

.game-card:hover{
    background-color: #eaeaea;
}

.x, .o{
    font-weight: bold;
}

.x {
  color: #ff9d00;
}

.o {
  color: #00bb51;
}